In [1]:
from tvDatafeed import TvDatafeed, Interval
import mysql.connector
import pandas as pd

In [2]:
def query(query, host="ideatrade.serveftp.net", port=51410, user="Wasan@sun", password=")Ai_C40bj]6ssI9W", database="db_ideatrade"):
    with mysql.connector.connect(
        host=host,
        port=port,
        user=user,
        password=password,
        database=database
    ) as connection:
        with connection.cursor() as cursor:
            cursor.execute(query)
            columns = [column[0] for column in cursor.description]
            result = cursor.fetchall()

    return pd.DataFrame(columns=columns, data=result)

In [3]:
to_database_vm = query("SELECT * FROM allsymbol_global;")
to_database_vm.to_csv("to_database_vm.csv", index=False)

In [26]:
country_names_by_exchange = query("SELECT Country, Exchange FROM allsymbol_global ORDER BY `Country` desc")
# country_names_by_exchange.to_csv("country_names_by_exchange.csv", index=False)

In [30]:
import pycountry
from fuzzywuzzy import process
from concurrent.futures import ThreadPoolExecutor

# Function to get continent from country using fuzzy string matching
def get_continent(country):
    try:
        # Use fuzzy string matching to find the closest matching country name
        match, score = process.extractOne(country, [country.name for country in pycountry.countries])
        
        # If the matching score is above a certain threshold, consider it a match
        if score >= 90:
            country_info = pycountry.countries.get(name=match)
            if country_info:
                return country_info.continent.name
        return None
    except AttributeError:
        return None

# Function to apply get_continent in parallel
def apply_get_continent_parallel(country_series):
    with ThreadPoolExecutor() as executor:
        return list(executor.map(get_continent, country_series))

# Add a new column "Continent" to the DataFrame in parallel
country_names_by_exchange['Continent'] = apply_get_continent_parallel(country_names_by_exchange['Country'])

# Print the DataFrame with the new "Continent" column
print(country_names_by_exchange)

In [28]:
for country in pycountry.countries:
    print(country.name, country.alpha_2)

Aruba AW
Afghanistan AF
Angola AO
Anguilla AI
Åland Islands AX
Albania AL
Andorra AD
United Arab Emirates AE
Argentina AR
Armenia AM
American Samoa AS
Antarctica AQ
French Southern Territories TF
Antigua and Barbuda AG
Australia AU
Austria AT
Azerbaijan AZ
Burundi BI
Belgium BE
Benin BJ
Bonaire, Sint Eustatius and Saba BQ
Burkina Faso BF
Bangladesh BD
Bulgaria BG
Bahrain BH
Bahamas BS
Bosnia and Herzegovina BA
Saint Barthélemy BL
Belarus BY
Belize BZ
Bermuda BM
Bolivia, Plurinational State of BO
Brazil BR
Barbados BB
Brunei Darussalam BN
Bhutan BT
Bouvet Island BV
Botswana BW
Central African Republic CF
Canada CA
Cocos (Keeling) Islands CC
Switzerland CH
Chile CL
China CN
Côte d'Ivoire CI
Cameroon CM
Congo, The Democratic Republic of the CD
Congo CG
Cook Islands CK
Colombia CO
Comoros KM
Cabo Verde CV
Costa Rica CR
Cuba CU
Curaçao CW
Christmas Island CX
Cayman Islands KY
Cyprus CY
Czechia CZ
Germany DE
Djibouti DJ
Dominica DM
Denmark DK
Dominican Republic DO
Algeria DZ
Ecuador EC
Egypt EG
Eritrea ER
Western Sahara EH
Spain ES
Estonia EE
Ethiopia ET
Finland FI
Fiji FJ
Falkland Islands (Malvinas) FK
France FR
Faroe Islands FO
Micronesia, Federated States of FM
Gabon GA
United Kingdom GB
Georgia GE
Guernsey GG
Ghana GH
Gibraltar GI
Guinea GN
Guadeloupe GP
Gambia GM
Guinea-Bissau GW
Equatorial Guinea GQ
Greece GR
Grenada GD
Greenland GL
Guatemala GT
French Guiana GF
Guam GU
Guyana GY
Hong Kong HK
Heard Island and McDonald Islands HM
Honduras HN
Croatia HR
Haiti HT
Hungary HU
Indonesia ID
Isle of Man IM
India IN
British Indian Ocean Territory IO
Ireland IE
Iran, Islamic Republic of IR
Iraq IQ
Iceland IS
Israel IL
Italy IT
Jamaica JM
Jersey JE
Jordan JO
Japan JP
Kazakhstan KZ
Kenya KE
Kyrgyzstan KG
Cambodia KH
Kiribati KI
Saint Kitts and Nevis KN
Korea, Republic of KR
Kuwait KW
Lao People's Democratic Republic LA
Lebanon LB
Liberia LR
Libya LY
Saint Lucia LC
Liechtenstein LI
Sri Lanka LK
Lesotho LS
Lithuania LT
Luxembourg LU
Latvia LV
Macao MO
Saint Martin (French part) MF
Morocco MA
Monaco MC
Moldova, Republic of MD
Madagascar MG
Maldives MV
Mexico MX
Marshall Islands MH
North Macedonia MK
Mali ML
Malta MT
Myanmar MM
Montenegro ME
Mongolia MN
Northern Mariana Islands MP
Mozambique MZ
Mauritania MR
Montserrat MS
Martinique MQ
Mauritius MU
Malawi MW
Malaysia MY
Mayotte YT
Namibia NA
New Caledonia NC
Niger NE
Norfolk Island NF
Nigeria NG
Nicaragua NI
Niue NU
Netherlands NL
Norway NO
Nepal NP
Nauru NR
New Zealand NZ
Oman OM
Pakistan PK
Panama PA
Pitcairn PN
Peru PE
Philippines PH
Palau PW
Papua New Guinea PG
Poland PL
Puerto Rico PR
Korea, Democratic People's Republic of KP
Portugal PT
Paraguay PY
Palestine, State of PS
French Polynesia PF
Qatar QA
Réunion RE
Romania RO
Russian Federation RU
Rwanda RW
Saudi Arabia SA
Sudan SD
Senegal SN
Singapore SG
South Georgia and the South Sandwich Islands GS
Saint Helena, Ascension and Tristan da Cunha SH
Svalbard and Jan Mayen SJ
Solomon Islands SB
Sierra Leone SL
El Salvador SV
San Marino SM
Somalia SO
Saint Pierre and Miquelon PM
Serbia RS
South Sudan SS
Sao Tome and Principe ST
Suriname SR
Slovakia SK
Slovenia SI
Sweden SE
Eswatini SZ
Sint Maarten (Dutch part) SX
Seychelles SC
Syrian Arab Republic SY
Turks and Caicos Islands TC
Chad TD
Togo TG
Thailand TH
Tajikistan TJ
Tokelau TK
Turkmenistan TM
Timor-Leste TL
Tonga TO
Trinidad and Tobago TT
Tunisia TN
Türkiye TR
Tuvalu TV
Taiwan, Province of China TW
Tanzania, United Republic of TZ
Uganda UG
Ukraine UA
United States Minor Outlying Islands UM
Uruguay UY
United States US
Uzbekistan UZ
Holy See (Vatican City State) VA
Saint Vincent and the Grenadines VC
Venezuela, Bolivarian Republic of VE
Virgin Islands, British VG
Virgin Islands, U.S. VI
Viet Nam VN
Vanuatu VU
Wallis and Futuna WF
Samoa WS
Yemen YE
South Africa ZA
Zambia ZM
Zimbabwe ZW

In [21]:
count_c = 0
count_e = 0

# Assuming 'country' and 'exchange' are column names in country_names_by_exchange
for index, row in country_names_by_exchange.iterrows():
    if row['Country'] == "":
        count_c += 1
    if row['Exchange'] == "":
        count_e += 1

count_c, count_e

(4016, 0)

In [4]:
# ! pip install gspread google-auth google-auth-oauthlib google-auth-httplib2
# ! pip install --upgrade certifi
# ! pip install mysql-connector-python
# ! pip install google-auth

import pandas as pd
pd.options.display.float_format = "{:,.3f}".format

import numpy as np
import datetime
import mysql.connector
import yfinance as yf
import requests

import warnings
warnings.filterwarnings('ignore')
from functools import lru_cache

import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'tahoma'
import matplotlib.ticker as ticker

import gspread
from google.oauth2.service_account import Credentials
#import gspread_dataframe as gd

In [5]:
from datetime import datetime, timedelta
def get_data():
    # โหลดข้อมูลรับรอง JSON จากไฟล์ที่คุณดาวน์โหลด
    credentials = Credentials.from_service_account_file('keys.json', scopes=['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive'])

    # ตั้งค่าการเชื่อมต่อ gspread ด้วยข้อมูลรับรอง
    gc = gspread.service_account(filename='keys.json')

    # เปิดสเปรดชีตของ Google Sheets โดยใช้ชื่อหรือ URL
    spreadsheet = gc.open('stores_shopee')
 
    # เลือกชีตที่ต้องการใน Google Sheets
    worksheet = spreadsheet.worksheet('ชีต2')

    # อ่านข้อมูลจากชีตเป็นรายการของดิกชันนารี
    data = worksheet.get_all_records()

    # สร้าง DataFrame จากข้อมูล
    df = pd.DataFrame(data)

    return df
df = get_data()

In [6]:
def get_world_data():
    # โหลดข้อมูลรับรอง JSON จากไฟล์ที่คุณดาวน์โหลด
    credentials = Credentials.from_service_account_file('keys.json', scopes=['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive'])

    # ตั้งค่าการเชื่อมต่อ gspread ด้วยข้อมูลรับรอง
    gc = gspread.service_account(filename='keys.json')

    # เปิดสเปรดชีตของ Google Sheets โดยใช้ชื่อหรือ URL
    spreadsheet = gc.open('stores_shopee')
 
    # เลือกชีตที่ต้องการใน Google Sheets
    worksheet = spreadsheet.worksheet('world_counties')

    # อ่านข้อมูลจากชีตเป็นรายการของดิกชันนารี
    data = worksheet.get_all_records()

    # สร้าง DataFrame จากข้อมูล
    df = pd.DataFrame(data)

    return df
dfw = get_world_data()

['Aruba', 'Afghanistan', 'Angola', 'Anguilla', 'Åland Islands', 'Albania', 'Andorra', 'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa', 'Antarctica', 'French Southern Territories', 'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Bonaire, Sint Eustatius and Saba', 'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas', 'Bosnia and Herzegovina', 'Saint Barthélemy', 'Belarus', 'Belize', 'Bermuda', 'Bolivia, Plurinational State of', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan', 'Bouvet Island', 'Botswana', 'Central African Republic', 'Canada', 'Cocos (Keeling) Islands', 'Switzerland', 'Chile', 'China', "Côte d'Ivoire", 'Cameroon', 'Congo, The Democratic Republic of the', 'Congo', 'Cook Islands', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba', 'Curaçao', 'Christmas Island', 'Cayman Islands', 'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt', 'Eritrea', 'Western Sahara', 'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji', 'Falkland Islands (Malvinas)', 'France', 'Faroe Islands', 'Micronesia, Federated States of', 'Gabon', 'United Kingdom', 'Georgia', 'Guernsey', 'Ghana', 'Gibraltar', 'Guinea', 'Guadeloupe', 'Gambia', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala', 'French Guiana', 'Guam', 'Guyana', 'Hong Kong', 'Heard Island and McDonald Islands', 'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'Isle of Man', 'India', 'British Indian Ocean Territory', 'Ireland', 'Iran, Islamic Republic of', 'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jersey', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati', 'Saint Kitts and Nevis', 'Korea, Republic of', 'Kuwait', "Lao People's Democratic Republic", 'Lebanon', 'Liberia', 'Libya', 'Saint Lucia', 'Liechtenstein', 'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia', 'Macao', 'Saint Martin (French part)', 'Morocco', 'Monaco', 'Moldova, Republic of', 'Madagascar', 'Maldives', 'Mexico', 'Marshall Islands', 'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro', 'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania', 'Montserrat', 'Martinique', 'Mauritius', 'Malawi', 'Malaysia', 'Mayotte', 'Namibia', 'New Caledonia', 'Niger', 'Norfolk Island', 'Nigeria', 'Nicaragua', 'Niue', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman', 'Pakistan', 'Panama', 'Pitcairn', 'Peru', 'Philippines', 'Palau', 'Papua New Guinea', 'Poland', 'Puerto Rico', "Korea, Democratic People's Republic of", 'Portugal', 'Paraguay', 'Palestine, State of', 'French Polynesia', 'Qatar', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'South Georgia and the South Sandwich Islands', 'Saint Helena, Ascension and Tristan da Cunha', 'Svalbard and Jan Mayen', 'Solomon Islands', 'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Saint Pierre and Miquelon', 'Serbia', 'South Sudan', 'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia', 'Sweden', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand', 'Tajikistan', 'Tokelau', 'Turkmenistan', 'Timor-Leste', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Türkiye', 'Tuvalu', 'Taiwan, Province of China', 'Tanzania, United Republic of', 'Uganda', 'Ukraine', 'United States Minor Outlying Islands', 'Uruguay', 'United States', 'Uzbekistan', 'Holy See (Vatican City State)', 'Saint Vincent and the Grenadines', 'Venezuela, Bolivarian Republic of', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Viet Nam', 'Vanuatu', 'Wallis and Futuna', 'Samoa', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe']

In [7]:

vm = 1
df_vm = df[df['vm'] == vm]
df_vm.reset_index(drop=True, inplace=True)

In [8]:
df_vm

,id,Symbol,full_name,VWAP,Price,Exchange,Country,Sector,vm
0,3,ZZZD,BMO TATICAL DIVIDEND ETF FUND,28.000,28.000,NEO,Canada,Miscellaneous,1
1,7,ZZG,INFORMATION SVCS GROUP INC,0.000,3.980,SWB,United States,Commercial Services,1
2,11,ZYXI,"Zynex, Inc.",8.720,8.650,NASDAQ,United States,Health Technology,1
3,15,ZYRX,ZYREXINDO MANDIRI BUANA TBK,177.330,179.000,IDX,Indonesia,Electronic Technology,1
4,19,ZYDUSLIFE,ZYDUS LIFESCIENCES,628.770,631.850,NSE,India,Health Technology,1
...,...,...,...,...,...,...,...,...,...
26460,105843,25,SHN TELLUS HLDNGS,16.850,16.900,SZSE,China,Finance,1
26461,105847,20,S/Z ZHONGHENG HUAF,12.630,12.570,SZSE,China,Electronic Technology,1
26462,105851,14,SHAHE INDUSTRIAL C,11.590,11.640,SZSE,China,Finance,1
26463,105855,9,CHINA BAOAN GROUP,11.480,11.460,SZSE,China,Producer Manufacturing,1
26464,105859,5,SHN FOUNTAIN CORP,1.420,1.420,SZSE,China,Industrial Services,1

In [10]:
from tvDatafeed import TvDatafeed, Interval
import pandas as pd
from tqdm import tqdm

tv = TvDatafeed()

def get_historical_data(tv, symbol, exchange):
    try:
        # Convert numeric symbol to string
        if isinstance(symbol, (int, float)):
            symbol = str(symbol)

        # Check if symbol and exchange are strings before using strip()
        if isinstance(symbol, str) and isinstance(exchange, str):
            symbol = symbol.strip()
            exchange = exchange.strip()

            intervals = [
                Interval.in_1_minute, Interval.in_3_minute, Interval.in_5_minute,
                Interval.in_15_minute, Interval.in_30_minute, Interval.in_45_minute,
                Interval.in_1_hour, Interval.in_2_hour, Interval.in_3_hour,
                Interval.in_4_hour, Interval.in_daily, Interval.in_weekly, Interval.in_monthly
            ]

            data = [tv.get_hist(symbol=symbol, exchange=exchange, interval=interval,
                                n_bars=10000 if 'daily' in str(interval) else 6000) for interval in intervals]

            return pd.concat(data)

        else:
            print(f"Skipping {symbol} on {exchange}: Symbol and exchange must be strings.")
            return pd.DataFrame()  # Return an empty DataFrame for symbols that couldn't be retrieved
    except Exception as e:
        print(f"Error retrieving data for {symbol} on {exchange}: {e}")
        return pd.DataFrame()  # Return an empty DataFrame for the symbol that couldn't be retrieved

# Execute the query to get symbols and exchanges
sym_ex = df_vm[['Symbol', 'Exchange']]

# Iterate through symbols and exchanges, and fetch data for each combination
all_data = []
s = 0
for ind, row in tqdm(sym_ex.iterrows(), "Getting TV"):
    symbol = row['Symbol']
    exchange = row['Exchange']
    data = get_historical_data(tv, symbol, exchange)
    s += 1
    if not data.empty:
        all_data.append(data)
    if s == 2:
        break

# Concatenate the data for all symbols and exchanges
result = pd.concat(all_data)

# Now, 'result' contains the concatenated historical data for all symbols in every exchange
# You can proceed to use or store this data as needed

you are using nologin method, data you access may be limited
Getting TV: 0it [00:00, ?it/s]

Getting TV: 1it [00:22, 22.43s/it]

In [9]:

# result[result['symbol'] == 'NEO:ZZZ']

In [10]:
print(result[result['symbol'] == 'NEO:ZZZ'])

                      symbol   open   high    low  close      volume
datetime
2022-07-11 20:44:00  NEO:ZZZ 24.820 24.820 24.820 24.820     100.000
2022-07-11 22:23:00  NEO:ZZZ 24.740 24.740 24.740 24.740     100.000
2022-07-11 22:28:00  NEO:ZZZ 24.720 24.720 24.720 24.720     200.000
2022-07-11 22:48:00  NEO:ZZZ 24.750 24.750 24.750 24.750     100.000
2022-07-11 23:32:00  NEO:ZZZ 24.830 24.830 24.830 24.830     100.000
...                      ...    ...    ...    ...    ...         ...
2023-08-01 20:30:00  NEO:ZZZ 28.790 28.800 23.350 24.700 276,197.000
2023-09-01 20:30:00  NEO:ZZZ 24.180 24.180 22.210 23.270 103,220.000
2023-10-02 20:30:00  NEO:ZZZ 23.190 23.190 21.360 21.860 178,866.000
2023-11-01 20:30:00  NEO:ZZZ 21.960 24.490 21.600 23.910  62,165.000
2023-12-01 21:30:00  NEO:ZZZ 24.040 26.590 24.000 25.800  42,325.000

[53029 rows x 6 columns]

In [11]:
df_symbol = df_vm[['symbol']].drop_duplicates()
df_exchage = df_vm[['exchange']].drop_duplicates()

In [12]:

count_int = 0
count_str = 0
count_t = 0
lst = []

df_exchage = df_vm[['exchange']].drop_duplicates()

for i in df_symbol['symbol']:
    if type(i) == int:
        count_int += 1
    elif type(i) == str:
        
        count_str += 1
    else :
        count_t += 1
        print(type(i))
        lst.append(i)
# count_int, count_str, count_t
# lst

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [13]:
count_int, count_str, count_t

(4855, 19492, 4)

In [14]:
lst[0]

inf

In [15]:

result_symbol = result[['symbol']].drop_duplicates()
result_symbol

                       symbol
datetime
2022-07-11 20:44:00   NEO:ZZZ
2009-02-02 14:40:00   BER:ZZG
2021-12-20 06:04:00  ASX:ZYUS

In [16]:
result_symbol.count()

symbol    3
dtype: int64

In [17]:
# index
nifty_index_data = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_1_minute,n_bars=10000)

# futures continuous contract
nifty_futures_data = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_1_hour,n_bars=1000,fut_contract=1)

# crudeoil
crudeoil_data = tv.get_hist(symbol='CRUDEOIL',exchange='MCX',interval=Interval.in_1_hour,n_bars=5000,fut_contract=1)

# downloading data for extended market hours
extended_price_data = tv.get_hist(symbol="EICHERMOT",exchange="NSE",interval=Interval.in_1_hour,n_bars=500, extended_session=False)

ERROR:tvDatafeed.main:The read operation timed out
ERROR:tvDatafeed.main:no data, please check the exchange and symbol

In [18]:
nifty_futures_data

,symbol,open,high,low,close,volume
datetime,,,,,,
2023-05-31 12:45:00,NSE:NIFTY1!,"18,624.400","18,637.450","18,572.000","18,577.500","981,700.000"
2023-05-31 13:45:00,NSE:NIFTY1!,"18,577.250","18,604.000","18,566.000","18,586.050","716,100.000"
2023-05-31 14:45:00,NSE:NIFTY1!,"18,585.050","18,623.900","18,582.300","18,600.600","561,400.000"
2023-05-31 15:45:00,NSE:NIFTY1!,"18,600.900","18,651.550","18,594.500","18,622.200","1,091,350.000"
2023-05-31 16:45:00,NSE:NIFTY1!,"18,622.050","18,641.950","18,620.700","18,624.950","528,750.000"
...,...,...,...,...,...,...
2023-12-27 12:45:00,NSE:NIFTY1!,"21,592.300","21,619.950","21,578.000","21,601.000","596,400.000"
2023-12-27 13:45:00,NSE:NIFTY1!,"21,601.000","21,602.100","21,530.100","21,554.000","1,520,850.000"
2023-12-27 14:45:00,NSE:NIFTY1!,"21,552.600","21,589.400","21,526.000","21,578.000","919,150.000"
2023-12-27 15:45:00,NSE:NIFTY1!,"21,578.000","21,708.350","21,566.650","21,688.450","1,635,950.000"
2023-12-27 16:45:00,NSE:NIFTY1!,"21,690.000","21,691.550","21,670.050","21,690.000","538,250.000"

In [19]:
nifty_index_data

,symbol,open,high,low,close,volume
datetime,,,,,,
2023-12-04 10:45:00,NSE:NIFTY,"20,602.500","20,602.500","20,537.200","20,543.000","13,331,122.000"
2023-12-04 10:46:00,NSE:NIFTY,"20,544.950","20,557.600","20,539.700","20,555.100","5,756,084.000"
2023-12-04 10:47:00,NSE:NIFTY,"20,553.600","20,559.000","20,547.450","20,547.450","3,445,582.000"
2023-12-04 10:48:00,NSE:NIFTY,"20,549.600","20,550.950","20,531.100","20,534.200","2,847,064.000"
2023-12-04 10:49:00,NSE:NIFTY,"20,532.200","20,541.550","20,528.900","20,530.550","4,538,630.000"
...,...,...,...,...,...,...
2023-12-27 16:55:00,NSE:NIFTY,"21,666.250","21,667.600","21,663.300","21,664.350","1,041,050.000"
2023-12-27 16:56:00,NSE:NIFTY,"21,665.900","21,671.150","21,665.300","21,670.850","1,143,282.000"
2023-12-27 16:57:00,NSE:NIFTY,"21,669.750","21,675.750","21,669.750","21,672.100","1,140,529.000"
2023-12-27 16:58:00,NSE:NIFTY,"21,673.600","21,673.600","21,651.750","21,664.100","1,412,435.000"
2023-12-27 16:59:00,NSE:NIFTY,"21,662.250","21,662.800","21,648.650","21,648.950","856,416.000"